@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Zilla+Slab:wght@500&display=swap');

body {
   font-family: 'Ubuntu' , sans-serif;
}

.home {
    height: 100vh;
    background: url('/images/background.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar-brand {
    font-family: 'Zilla Slab' , sans-serif;
    font-size: 36px;
    letter-spacing: 2px;
}



